<br>
  <div class="justify-content-center">
    <h2>Get in touch!</h2>
  </div>
  <br>
  <div class="row justify-content-center">
    <div id="submission_form">
      <form action="/" method="post">
        <div class="form-group">
          <label for="name" class="text-center">Name</label>
          <input type="text" class="form-control" name="name"aria-describedby="name" placeholder="">
        </div>
        <div class="form-group" >
          <label for="email" class="text-center">Email</label>
          <% if(success) { %>

          <% } else if (errors){ %>
            <p>Email is NOT VALID!!</p>
          <% } %>
          <input type="text" v-validate="'required|email'" class= "form-control" name="email" aria-describedby="email" placeholder="">
          <span class="error">{{errors.first('email')}}</span>
        </div>
        <div class="form-group">
          <label for="name" class="text-center">Subject</label>
          <input type="text" class="form-control" name="subject" aria-describedby="subject" placeholder="">
        </div>
        <div class="form-group">
          <label for="message" class="text-center">Message</label>
          <textarea class="form-control"  rows="5" name="message"></textarea>
        </div>
         <br>
        <button type="submit" class="btn btn-contact" value="submit">Send Message</button>
         <br>
         <br>
        <% if(success) { %>
          <p>Thanks for getting in contact</p>
        <% } %>
      </form>



  </div>
<br>
