<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="I'm a graduate from the University of Birmingham who has obtained a BSc in Mathematics and Computer Science. I am a person whose curiosity leads me to question life.">

<!-- Google + -->
<meta itemprop="name" content="Jonathan Markland">
<meta itemprop="description" content="This is the page description">
<meta itemprop="image" content="http://www.jonathanmarkland.co.uk/static/side_profile_blurredbg.png">

<!-- Twitter card -->
<meta name="twitter:title" content="Jonathan Markland">
<meta name="twitter:image" content="http://www.jonathanmarkland.co.uk/static/side_profile_blurredbg.png">
<meta name="twitter:description" content="I'm a graduate from the University of Birmingham who has obtained a BSc in Mathematics and Computer Science. I am a person whose curiosity leads me to question life.">

<!-- Facebook OG tags -->
<meta property="og:image" content="http://www.jonathanmarkland.co.uk/static/side_profile_blurredbg.png">
<meta property="og:title" content="Jonathan Markland" />
<meta property="og:url" content="http://www.jonathanmarkland.co.uk" />
<meta property="og:description" content="I'm a graduate from the University of Birmingham who has obtained a BSc in Mathematics and Computer Science. I am a person whose curiosity leads me to question life.">

<!-- Bootstrap CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/style.css">
<title><%= title %></title>
