<div class="row " style="margin-right: 0px">

    <!-- <div class="offset col-4" >

      <img src="img/front_profile.png" alt="" class="float-left">


    </div> -->
    <div class="offset-1 col-5">
      <br>
      <br>
      <h1>Jonathan <br> Markland </h1>

      <br>
      <br>
      <h3 class="title_page ">Hey there! I’m a full stack developer based in london. Enjoy my portfolio! </h3>
    </div>
    <div class="col-1">

    </div>

</div>
