<h1>Skills</h1>
<br>
<div class="row d-flex justify-content-center">
  <div class="col-sm-auto">
    <h2><img src="/img/development_symbol.svg" alt="developmen_symbol"> Development</h2>
  </div>
  <!-- <div class="row justify-content-center"> -->
  <div class="card-group col-10">
    <div class="card" id="frontend">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h3 class="card-title">Frontend</h3>
        <div class="row justify-content-center ">
          <img class="card-img-top col-8" src="/img/Frontend_Symbol.svg" alt="Card image cap">
        </div>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card" id="backend">
      <div class="card-body">
        <h3 class="card-title">Backend</h3>
        <div class="row justify-content-center ">
          <img class="card-img-top col-8" src="/img/Backend_Symbol.svg" alt="Card image cap">
        </div>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This card has supporting text below as a natural lead-in to additional content. This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card" id="design">
      <div class="card-body">
        <h3 class="card-title">Design</h3>
        <div class="row justify-content-center">
          <br>
          <br>
          <img class="card-img col-8" src="/img/Design_Symbol.svg" alt="">
        </div>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="Tools">
  <div class="col-auto">
    <h2><img src="/img/tools_symbol.svg" alt="tools_symbol"> Tools</h2>
  </div>
  <br>
  <div class="row justify-content-center">
      <div class="col-1">

      </div>
      <div class="col skills_list">
        <h4>Versioning</h4>
          <ul>
            <li>Git</li>
            <li>SVN</li>
          </ul>
      </div>
      <div class="col skills_list">
        <h4>IDE's / Text Editors</h4>
        <ul>
          <li>Netbeans</li>
          <li>Eclipse</li>
          <li>Atom</li>
        </ul>
      </div>
      <div class="col skills_list">
        <h4>Collaboration Tools</h4>
        <ul>
          <li>Slack</li>
          <li>Jira</li>
          <li>Confluence</li>
        </ul>
      </div>
      <div class="col-1">

      </div>

  </div>
</div>
<br>
<div class="competencies">
  <div class="col-auto">
    <h2><img src="img/Competencies_Symbol.svg" alt="competencies_symbol"> Competencies</h2>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-1">
    </div>
    <div class="col skills_list">
      <h4>Technologies</h4>
        <ul>
          <li>Nodejs</li>
          <li>Wicket</li>
          <li>Express</li>
          <li>Spring</li>
        </ul>
    </div>
    <div class="col skills_list">
      <h4>Languages</h4>
        <ul>
          <li>Java</li>
          <li>Javascript</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
    </div>
    <div class="col skills_list">
      <h4>Databse Skills</h4>
        <ul>
          <li>Hibernate</li>
          <li>SQL</li>
        </ul>
    </div>

    <div class="col-1">

    </div>
  </div>
</div>
<br>
