<br>
<div class="row justify-content-center">
  <div class="col-1">

  </div>
  <div class="col ">


        <!-- <ul >
          <li><label>All </label></li>
          <li><label >Languages</label></li>
          <li><label>Database Skills</label></li>
          <li><label>Technologies</label></li>
          <li><label>Versioning</label></li>
          <li><label>Collaboration Tools</label></li>
          <li><label>IDE's </label></li>
          <li><label>Text Editors </label></li>
        </ul> -->
        <div class="button-group" role="group">
          <button type="button" class="btn btn-skill">All</button>
          <button type="button" class="btn btn-skill">Languages</button>
          <button type="button" class="btn btn-skill">Database Skills</button>
          <button type="button" class="btn btn-skill">Technologies</button>
          <button type="button" class="btn btn-skill">Versioning</button>
          <button type="button" class="btn btn-skill">Collaboration Tools</button>
          <button type="button" class="btn btn-skill">IDEs'</button>
          <button type="button" class="btn btn-skill">Text Editors</button>
        </div>

  </div>
  <div class="col-1">

  </div>

</div>
<br>
<div class="row">
  <div class="col-1">

  </div>
  <div class="col">
      <img src="img/symbols/Java_Symbol.svg" alt="Java">
      <img src="img/symbols/Javascript_Symbol.svg" alt="Javascript">
      <img src="img/symbols/Nodejs_Symbol.svg" alt="Javascript">
      <img src="img/symbols/Slack_Symbol.svg" alt="Slack">
      <img src="img/symbols/Eclipse_Symbol.svg" alt="Eclipse">
      <img src="img/symbols/Spring_Symbol.svg" alt="Spring">
      <img src="img/symbols/Expressjs_Symbol.svg" alt="Expressjs">
      <img src="img/symbols/Hibernate_Symbol.svg" alt="Hibernate">
      <img src="img/symbols/Jira_Symbol.svg" alt="Jira">
      <img src="img/symbols/Atom_Symbol.svg" alt="Atom">
      <img src="img/symbols/HTML_Symbol.svg" alt="HTML">
      <img src="img/symbols/Wicket_Symbol.svg" alt="Wicket">
      <img src="img/symbols/CSS_Symbol.svg" alt="CSS">
      <img src="img/symbols/Confluence_Symbol.svg" alt="Confluence">
      <img src="img/symbols/Git_Symbol.svg" alt="Git">
      <img src="img/symbols/SQL_Symbol.svg" alt="SQL">
      <img src="img/symbols/SVN_Symbol.svg" alt="SVN">
      <img src="img/symbols/Netbeans_Symbol.svg" alt="Netbeans">
  </div>
  <div class="col-1">

  </div>

</div>
<br>
