<br>

<div class="row justify-content-center">
  <div class="col-1">

  </div>
  <div class="col ">


    <!-- <ul >
          <li><label>All </label></li>
          <li><label >Languages</label></li>
          <li><label>Database Skills</label></li>
          <li><label>Technologies</label></li>
          <li><label>Versioning</label></li>
          <li><label>Collaboration Tools</label></li>
          <li><label>IDE's </label></li>
          <li><label>Text Editors </label></li>
        </ul> -->
    <h2 class="justify-content-center" style="text-align:center">Skills</h2>
    <br>

    <div class="row justify-content-center">
      <div  data-toggle="buttons">
        <label class="btn btn-skill active " id="All">
          <input type="radio" name="options"  autocomplete="off" checked> All
        </label>
        <label class="btn btn-skill" id="Languages">
          <input type="radio" name="options"  autocomplete="off"> Languages
        </label>
        <label class="btn btn-skill" id="Database_Skills">
            <input type="radio" name="options"  autocomplete="off"> Database Tools
        </label>
        <label class="btn btn-skill" id="Technologies">
            <input type="radio" name="options"  autocomplete="off"> Technologies
        </label>
        <label class="btn btn-skill" id="Versioning">
            <input type="radio" name="options"  autocomplete="off"> Versioning Tools
        </label>
        <label class="btn btn-skill" id="Collaboration_Tools">
            <input type="radio" name="options"  autocomplete="off"> Collaboration Tools
        </label>
        <label class="btn btn-skill" id="IDEs">
            <input type="radio" name="options"  autocomplete="off"> IDE's
        </label>
        <label class="btn btn-skill" id="Text_Editors">
            <input type="radio" name="options"  autocomplete="off"> Text Editors
        </label>
      </div>
    </div>

  </div>
  <div class="col-1">

  </div>

</div>
<br>
<div class="row">
  <!-- <div class="col-1">

  </div> -->
  <div class="offset-1 col-10 justify-content-around">
    <img id="Java" src="img/symbols/Java_Symbol.svg" alt="Java">
    <img id="Javascript" src="img/symbols/Javascript_Symbol.svg" alt="Javascript">
    <img id="Nodejs" src="img/symbols/Nodejs_Symbol.svg" alt="Nodejs">
    <img id="Slack" src="img/symbols/Slack_Symbol.svg" alt="Slack">
    <img id="Eclipse" src="img/symbols/Eclipse_Symbol.svg" alt="Eclipse">
    <img id="Spring" src="img/symbols/Spring_Symbol.svg" alt="Spring">
    <img id="Expressjs" src="img/symbols/Expressjs_Symbol.svg" alt="Expressjs">
    <img id="Hibernate" src="img/symbols/Hibernate_Symbol.svg" alt="Hibernate">
    <img id="Jira" src="img/symbols/Jira_Symbol.svg" alt="Jira">
    <img id="Atom" src="img/symbols/Atom_Symbol.svg" alt="Atom">
    <img id="HTML" src="img/symbols/HTML_Symbol.svg" alt="HTML">
    <img id="Wicket" src="img/symbols/Wicket_Symbol.svg" alt="Wicket">
    <img id="CSS" src="img/symbols/CSS_Symbol.svg" alt="CSS">
    <img id="Confluence" src="img/symbols/Confluence_Symbol.svg" alt="Confluence">
    <img id="Git" src="img/symbols/Git_Symbol.svg" alt="Git">
    <img id="SQL" src="img/symbols/SQL_Symbol.svg" alt="SQL">
    <img id="SVN" src="img/symbols/SVN_Symbol.svg" alt="SVN">
    <img id="Netbeans" src="img/symbols/Netbeans_Symbol.svg" alt="Netbeans">
    <img id="MongoDB" src="img/symbols/MongoDB_Symbol.svg" alt="MongoDB">

  </div>
  <!-- <div class="col-1">

  </div> -->

</div>
<br>
