<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="canonical" href="http://www.jonathanmarkland.co.uk">


  </head>
  <body>
    <h1><%= message %></h1>
      <img src="img/side_profile.png" alt="error face" style="height: 40vh; display: block;
    margin: 0 auto;">
    <h2><%= error.status %></h2>

    <!-- <pre><%= error.stack %></pre> -->

  </body>

</html>
