@fontface{
  font-family: Impact;
  src: url("css/font/impact.ttf");
  src: url("css/font/Impacted.ttf");
  src: url("css/font/unicode.impact.ttf");
}
html {
  height: 100%;
  padding-top: 0px;
  font: 12px  Courier;
  /* background : url("/img/home_background_brighte.png") repeat  ; */
  background-color: #FAE3C6;
}

body {
  /*background-color: #FFFFFF;*/
  color: #2F2332;
  /*position: relative;*/
}

.navbar {
    /*background-color: transparent;*/
    /*background-color: #5B6674;*/
    background-color: rgba(250, 227, 198, 0.75);
    /* mix-blend-mode:  soft-light; */
    background-blend-mode: soft-light;

}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.navbar-light .navbar-brand  a {
  padding: 0;
}
.navbar-light .navbar-brand  img {
  height: 60px;
  width: 60px;
}
.navbar-light .navbar-brand , .navbar-light .navbar-nav .nav-link{
  color: #2F2332;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 10pt;

}

.navbar-light .navbar-nav .nav-link:hover{
  color: #2F2332;
  border-bottom: solid #B185BC;
  font-weight: normal;

}
.navbar-light .navbar-nav .nav-link.active{
  color: #2F2332;
  border-bottom: solid #B185BC;
  font-weight: bolder;
}

/*.jumbotron {
  margin-bottom: 0;
  padding: 0;
  background-color: black;
}*/
form {
  border-radius: 3rem;
  padding: 10px 50px;
  color: black;
  width:60vh;
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/* h1 {
  font-size: 40pt;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
} */
h1 {
  /* font-size: 90pt; */
  font-size: 13vmin;
  /* font-size: 11rem; */
  /* font-weight: bolder; */
  /* text-shadow: 2px 2px 4px #000000; */
  font-family: Impact;
  color: #2F2332;
  text-align: center;
}
h2 {
  font-size: 6vmin;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px #000000; */
  text-align: center;
  color: #2F2332;
}
h3 {

  font-size: 4vmin;
  font-weight: bold;
  text-align: center;
  color: #2F2332;

}
h4 {
  font-size: 2vmin;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000000;
}


/*#title {
  z-index: 2;

}
canvas {
  z-index: 1;
  position: absolute;
  opacity: 0.6;
}*/
.form-control input:focus, textarea:focus {

}
.form-control {
  background-color: rgba(0,0,0,0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #2F2332;
  border-width: medium;
  color: #2F2332;

  /*border-bottom: 2rem #2F2332;*/
}
.form-control:focus {
  background-color: rgba(0,0,0,0);
  border-color: #2F2332;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,0.5);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: #2F2332;
}


.btn-skill {
  background-color: rgba(1, 1, 1, 0);
  color: white;
  font-size: 3vmin;
  padding: 0px 10px;
  font-weight: lighter;
}

.btn-skill:focus , .btn-skill.focus , .btn-skill:hover{
  border-bottom: solid #B185BC;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,1);
  font-weight: bold;
}
.btn-skill:not([disabled]):not(.disabled):active, .btn-skill:not([disabled]):not(.disabled).active{
  border-bottom: solid #B185BC;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,0.5); */
  font-weight: bold;
}

.btn-contact {
  background-color: rgba(1, 1, 1, 0);
  color: #2F2332;
  border-color: #2F2332;
  border-width: medium;
  font-size: 3vmin;
  padding: 0px 10px;
  font-weight: lighter;
}

.btn-contact:focus , .btn-contact.focus , .btn-contact:hover{
  border: solid #2F2332;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,1);
  font-weight: bolder;
}
.btn-contact:not([disabled]):not(.disabled):active, .btn-contact:not([disabled]):not(.disabled).active{
  border: solid #2F2332;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,0.5); */
  font-weight: bolder;
}
label {
  font-size: 3vmin;
}
.skills_list ul {
  list-style: none;
  text-align: center;
  display: inline-block;
  align-content: center;
  padding: 0;
  margin: 0;
}

.skills_list ul li label:active {
  border-bottom: solid #B185BC;
  font-weight: bolder;
  font-size: 15pt;
}

.skills_list ul li {
  font-size: 12pt;
  padding: 0px 10px;
  font-weight: lighter;
  display: inline-block;
}
.swal-overlay {
  background-color: rgba(250, 227, 198, 0.45);
}
.swal-button {
  background-color:#2F2332;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
/*.card {
  background-color: white;
  border-radius: 2rem;
}
.card:hover{
  background-color: yellow;
}*/


#title{
  /*position: relative;*/
  align-items: center;
}
canvas {
  display: block;
  vertical-align: bottom;
}
p {
  color: #2F2332;
  font-size: 3vmin;
}
/* .particle-container{
text-align:center;
padding:40px;
}

.particle-container h1{
  position:relative;
  z-index:9999;
  color:#fff;
  font-size:40pt;
}
.particle-container h2{
  position:relative;
  z-index:9999;
  color:#fff;
  font-size:20pt;
} */
#test_title{
  height:100vh;
  min-height: 100vh;
  /* width: 100%; */
  /* padding: 0; */
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  background-image :url("/img/sidepic_blurredbg.png");
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
}
/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("/img/test_home_background.jpg") no-repeat ;
  background-size: cover;
  background-position: center;
} */


#title_page {
  background : url("/img/home_background.png") repeat  ;
  /*background-color: rgba(0,0,0,0.1);*/
  background-size: auto;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}
#intro {
  background-color: #FAEAD5;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: 0;
  font-size: 12pt;
  text-align: center;
}
#info {
  background-color: #E6D5C1;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: 0;
}


#skills {
  background-color: #FAEAD5;
  shape-outside: polygon(0 0, 100% 0, 100% 0, 100% 0, 30% 100%);
  shape-margin: 20px;

  /*background-color: #495463;
  min-height: 80vh;*/
}

#contact {
    /* background : url("/img/home_background_brighter.png") repeat  ; */
    background-color: #E6D5C1;
  /*background-color: #4954;
  min-height: 80vh;*/
}

#All , #Languages, #Database_Skills , #Technologies, #Versioning , #Collaboration_Tools , #IDEs , #Text_Editors {
  color: #192A3E;
}
 #github, #cv , #linkedIn , #Java ,#Javascript, #Nodejs , #Slack , #Eclipse , #Spring , #Expressjs , #Hibernate , #Jira , #Atom , #HTML , #Wicket , #CSS , #Confluence , #Git , #SQL, #SVN , #Netbeans , #MongoDB {
  mix-blend-mode: difference;
}
#Java ,#Javascript, #Nodejs , #Slack , #Eclipse , #Spring , #Expressjs , #Hibernate , #Jira , #Atom , #HTML , #Wicket , #CSS , #Confluence , #Git , #SQL, #SVN , #Netbeans , #MongoDB {
  width: 24vmin;
  max-width: 110px;
}

.cover {
    position: relative;
    text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  color: white;
  font-family: Impact;
  font-size:  40pt;
  border-radius: 60px;
}
.cover:hover .overlay {
  opacity: 1;
  background-color: rgba(230,213,193,0.4);

}
.overlay_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  /* -ms-transform: translate(-50%, -50%); */
}

.error {
  color: #d9534f;
}

#design {
  /*background-color: #8E9780;
  z-index: 0;*/
}

 @media (max-width: 992px) {

   .navbar-light .navbar-nav .nav-item {

   }
   .navbar-light .navbar-nav .nav-link:hover{
     /* border-bottom: solid #B185BC;
     font-weight: normal; */

     border-bottom: none;

   }
   .navbar-light .navbar-nav .nav-link.active{

     /* border-bottom: solid #B185BC; */
     border-bottom: none;
     color: #2F2332;
     font-style: bold;
   }
 }

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  .overlay_text{
    visibility: hidden;
  }
}

@media only screen and (max-width : 480px) {
  .overlay_text{
    visibility: hidden;
  }
}
@media only screen and (max-width : 320px) {
  .overlay_text{
    visibility: hidden;
  }

}
