html {
  height: 100%;
  padding-top: 0px;
  font: 14px  Courier;
  /* background : url("/img/home_background_brighte.png") repeat  ; */
  background-color: #2F2332;

  /* background-color: #6B2268; */
}

body {
  /*background-color: #FFFFFF;*/
  color: rgb(239, 239, 239);
  /*position: relative;*/
}

.navbar {
    /*background-color: transparent;*/
    /*background-color: #5B6674;*/
    background-color: rgba(51, 39, 54, 0.6);
    /*mix-blend-mode:  soft-light;*/
    background-blend-mode: lighten;

}
.navbar-light .navbar-brand  a {
  padding: 0;
}
.navbar-light .navbar-brand  img {
  height: 60px;
  width: 60px;
}
.navbar-light .navbar-brand , .navbar-light .navbar-nav .nav-link{
  color: white;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: white;
  border-bottom: solid #B185BC;
  font-weight: normal;

}
.navbar-light .navbar-nav .nav-link.active{
  color: white;
  border-bottom: solid #B185BC;
  font-weight: bolder;

}

/*.jumbotron {
  margin-bottom: 0;
  padding: 0;
  background-color: black;
}*/
form {
  border-radius: 3rem;
  background-color: rgba(122,112,125, 0.7);
  padding: 10px 50px;
  background-blend-mode: soft-light;
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

h1 {
  font-size: 40pt;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}
h2 {
  font-size: 20pt;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
h3 {

  font-size: 18pt;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000000;

}
h4 {
  font-size: 16pt;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000000;
}

/*#title {
  z-index: 2;

}
canvas {
  z-index: 1;
  position: absolute;
  opacity: 0.6;
}*/
.form-control input:focus, textarea:focus {

}
.form-control {
  background-color: rgba(0,0,0,0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #2F2332;
  border-width: medium;
  color: white;

  /*border-bottom: 2rem #2F2332;*/
}
.form-control:focus {
  background-color: rgba(0,0,0,0);
  border-color: #2F2332;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,0.5);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: white;
}

.btn-skill {
  background-color: rgba(1, 1, 1, 0);
  color: white;
  font-size: 12pt;
  padding: 0px 10px;
  font-weight: lighter;
}

.btn-skill:focus  {
  border-bottom: solid #B185BC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0,0,0,0.5);
  font-weight: bolder;
  font-size: 15pt;
}



.skills_list ul {
  list-style: none;
  text-align: center;
  display: inline-block;
  align-content: center;
  padding: 0;
  margin: 0;
}

.skills_list ul li label:active {
  border-bottom: solid #B185BC;
  font-weight: bolder;
  font-size: 15pt;
}

.skills_list ul li {
  font-size: 12pt;
  padding: 0px 10px;
  font-weight: lighter;
  display: inline-block;
}

/*.card {
  background-color: white;
  border-radius: 2rem;
}
.card:hover{
  background-color: yellow;
}*/


#title{
  /*position: relative;*/
  align-items: center;
}
canvas {
  display: block;
  vertical-align: bottom;
}

.particle-container{
  /*background:#00f;*/
text-align:center;
padding:40px;
}

.particle-container h1{
  position:relative;
  z-index:9999;
  color:#fff;
  font-size:40pt;
}
.particle-container h2{
  position:relative;
  z-index:9999;
  color:#fff;
  font-size:20pt;
}
#test_title{
  height:100vh;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("/img/test_home_background.jpg") no-repeat ;
  /*background-color: #56465A;*/
  /*background-image: url("");*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  background-position: center;
  /*background-position: 50% 50%;*/

}


#title_page {
  background : url("/img/home_background.png") repeat  ;
  /*background-color: rgba(0,0,0,0.1);*/
  background-size: auto;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}

#info {
  background-color: #352739;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: 0;

}

#skills {
  background-color: #2F2332;
  shape-outside: polygon(0 0, 100% 0, 100% 0, 100% 0, 30% 100%);
  shape-margin: 20px;

  /*background-color: #495463;
  min-height: 80vh;*/
}

#contact {
    background : url("/img/home_background_brighter.png") repeat  ;
  /*background-color: #4954;
  min-height: 80vh;*/
}
#github{
  /*mix-blend-mode: exclusion;*/
}

#cv{
  /*mix-blend-mode: exclusion;*/
}

#linkedIn{
  /*mix-blend-mode: exclusion;*/

}

#backend{
  /*background-color: #A1A450;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.50);
  height: 500px;
  color: #FFFFFF;
  z-index: 1;*/

}

#design {
  /*background-color: #8E9780;
  z-index: 0;*/
}

#frontend {
  /*background-color: #8E9780;
  z-index: 0;*/
}
@media only screen @media (min-width: 768px) {

}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}
