<div class="row">

    <div class="col">
      <a href="https://github.com/Johnyz21">
        <img src="/img/Github.png" alt="github" id="github">
      </a>
    </div>
    <div class="col">
        <img src="/img/CV.png" alt="cv" id="cv">
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/jonathan-markland-470b62153/">
        <img src="/img/Linked.png" alt="linkedIn" id="linkedIn" >
      </a>
    </div>




</div>
