<div class="row justify-content-center">

    <div class="">
      <a href="https://github.com/Johnyz21">
        <img src="/img/Github.svg" alt="github" id="github" >
      </a>
    <!-- </div> -->
    <!-- <div class="col"> -->
        <img src="/img/CV.svg" alt="cv" id="cv" >
    <!-- </div> -->
    <!-- <div class="col"> -->
      <a href="https://www.linkedin.com/in/jonathan-markland-470b62153/">
        <img src="/img/Linked.svg" alt="linkedIn" id="linkedIn" >
      </a>
    </div>




</div>
