<div class="row justify-content-around">


      <div >
        <h2>Github</h2>
        <br>
        <div class="cover">
          <a href="https://github.com/Johnyz21" >
            <img src="/img/Github.svg" alt="github"  id="github">
            <div class="overlay">
              <div class="overlay_text">
                Code examples
              </div>
            </div>
          </a>
        </div>
      </div>

      <div >
        <h2>Ciriculum Vitae</h2>
        <br>
        <div class="cover">
          <img src="/img/CV.svg" alt="cv" id="cv" >
          <div class="overlay">
            <div class="overlay_text">
              Available on request
            </div>
          </div>
        </div>
      </div>

      <div >
        <h2>Linked In</h2>
        <br>
        <div class="cover">
          <a href="https://www.linkedin.com/in/jonathan-markland-470b62153/">
            <img src="/img/Linked.svg" alt="linkedIn" id="linkedIn" >
            <div class="overlay">
              <div class="overlay_text">
                <!-- LinkedIn -->
              </div>

            </div>
          </a>
        </div>
      </div>





</div>
