<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body data-spy="scroll" data-target="#navbar-spy" data-offset="10" >
  <header>
    <% include ../partials/menu %>
  </header>

 <!-- class="parallax-window" data-parallax="scroll" data-image-src="img/home_background.png" data-bleed="0" data-position="top"-->

   <!-- <div id="title_page" >
      <div   class=" text-center">

        <h1>Software Developer</h1>
         <br>
         <h2>Jonathan Markland</h2>
      </div>
  </div> -->

  <div id="test_title">
    <div id="particles-js" >

    </div>
    <div class="particle-container justify-content-center">
      <h1>Software Developer</h1>
      <br>
      <h2>Jonathan Markland</h2>
    </div>
  </div>

  <div class=""id="intro">
    <div class="container-fluid">
      <% include ../intro/index %>
    </div>
  </div>


  <div class="row" id="info">

      <div class="container-fluid" >

        <% include ../info/index %>

      </div>
    </div>


  <div class="" id="skills">
    <div class="container-fluid ">
      <% include ../skills/index %>
    </div>
  </div>

  <div class="text-center" id="contact">
      <div class="container-fluid" >
          <% include ../contact/index %>
      </div>
  </div>

  <% include ../partials/scripts %>

</body>


</html>
