<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body data-spy="scroll" data-target="#navbar-spy" data-offset="10">
  <header>
    <% include ../partials/menu %>
  </header>

  <div id="test_title">

    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../title/index %>

  </div>

  <div class="" id="intro">
    <div class="container-fluid">
      <% include ../intro/index %>
    </div>
  </div>


  <div class="row" id="info">

    <div class="container-fluid">

      <% include ../info/index %>

    </div>
  </div>


  <div class="" id="skills">
    <div class="container-fluid ">
      <% include ../skills/index %>
    </div>
  </div>

  <div class="text-center" id="contact">
    <div class="container-fluid">
      <% include ../contact/index %>
    </div>
  </div>

  <% include ../partials/scripts %>

</body>


</html>
