<div class="row justify-content-center" >
  <div class="col-1">

  </div>
  <div class="col">
    <br>
    <h2>Jonathan ... Who?</h2>
    <br>
    <br>
    <p class=""> I'm a <strong>graduate</strong> from the university of Birmingham who has obtained a BSc in Mathematics and Computer Science.
      I am a person whose curiosity leads me to question life.
      I tend to look at man-made creations and wonder ‘<i>how was that created?</i>’, ‘<i>how can I use that to my advantage? </i>’ or ‘<i>how can I do/make that?</i>’ and examine it until I have a deeper understanding.
      This outlook on life  has often landed me in leadership roles as I can often articulate my understanding in a manner which is easily understandable and relatable.
      Experiences such as tennis coaching, studying abroad, working abroad & solely being responsible for multiple projects from begining to end has really developed my interpersonal skills and time management skills. It also has allowed me to combine different ways of thinking in order to problem solve, lead, teach and help others.
      All these experiences has led me to be me! They have also led me to create this website (designed using sketch, running as a nodejs application) and allowed me to share party of my life with you, without ever meeting you.
      </p>
    <br>
    <p> When I’m not <strong>behind a computer screen</strong> I try to enjoy what life has to offer through sports, travelling and photographing beautiful areas of life. Most importantly i’m interested in people! I love to meet new people from all walks of life, listen to their fascinating stories. </p>
    <br>
    <p>So please enjoy the site and feel free to share a story from your life or get in contact for a job opportunity at the bottom of this page</p>
    <br>
  </div>
  <div class="col-1">

  </div>

</div>
