<div class="row justify-content-center" >
  <div class="col-1">

  </div>
  <div class="col">
    <br>
    <h2>Jonathan ... Who?</h2>
    <br>
    <br>
    <p class=""> I'm a <strong>graduate</strong> from the University of Birmingham who has obtained a BSc in Mathematics and Computer Science.
      I am curious by nature, which leads me to question the man-made creations I see around me and ask ‘<i>how was that created?</i>’, ‘<i>how can I use that to my advantage? </i>’ or ‘<i>how can I do/make that?</i>’ and examine it until I have a deeper understanding.
      This outlook on life  has often landed me in leadership roles, as I am able to articulate my curiosities and knowledge in a manner which is easily understandable and relatable.
      Experiences such as tennis coaching, studying abroad, working abroad and being independently responsible for multiple projects from beginning to end have really developed my interpersonal skills and time management skills. These experiences have allowed me to combine different ways of thinking in order to problem solve, lead, teach and help others.
      All these experiences have made me, me! They have also inspired me to create this website (designed using sketch, running as a Node.js application) which allows me to share part of my life with you, without ever meeting you.
      </p>
    <br>
    <p> When I’m not <strong>behind a computer screen</strong> I try to enjoy what life has to offer through sports, travelling and photographing beautiful areas of life. Most importantly, i’m interested in people! I love to meet new people from all walks of life and listen to their fascinating stories. </p>
    <br>
    <p>So please enjoy the website and feel free to share a story from your life or get in contact for a job opportunity at the bottom of this page</p>
    <br>
  </div>
  <div class="col-1">

  </div>

</div>
